
/* Tile style article list */
.article-list--grid {
    article {
        border-radius: var(--card-border-radius);
        overflow: hidden;
        position: relative;
        height: 100%;
        width: 100%;
        box-shadow: var(--shadow-l1);
        transition: box-shadow 0.3s ease;
        background-color: var(--card-background);

        &:hover {
            box-shadow: var(--shadow-l2);
        }

        &.has-image {
            .article-details {
                background-color: rgba(#000, 0.25);
            }

            .article-title {
                color: #fff;
            }
        }

        .article-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .article-details {
            border-radius: var(--card-border-radius);
            // position: relative;
            position: absolute;
            bottom: 0px;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            z-index: 2;
            padding: 10px;

            @include respond(sm) {
                padding: 10px;
            }
        }

        .article-title {
            font-size: 2rem;
            font-weight: 500;
            color: var(--card-text-color-main);

            @include respond(sm) {
                font-size: 2.2rem;
            }
        }
    }
}
