
<div class="section-card" >    
    <h3 class="section-title">
        Reach Out:
    </h3>
    <div action="https://formspree.io/f/xdkjanyp" method="POST" class="section-details">
        <div style="display: grid; grid-template-columns: 1fr 2fr;">
            <label>
                Your email:
            </label>
            <input type="email" name="email">
            <label>
                Your message:
            </label>
            <textarea name="message"></textarea>
        </div>
        <button type="submit", style="width:fit">Send</button>
    </form>
</div>
</div>
